.parent {
    background: linear-gradient(#ffab23, #ffec64);
    padding: 20px 40px;
    display: grid;
    place-items: center;
    .child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 768px;
        width: 100%;
    }
    @media screen and (max-width: 568px) {
        padding: 20px 15px;
    }
}

.logo {
    font-weight: 600;
    font-size: 25px;
}

.list {
    list-style: none;
    display: flex;
    li {
        padding: 0 20px;
        cursor: pointer;
        a {
            text-decoration: none;
            color: black;
        }
        .active {
            color: blue;
        }
        @media screen and (max-width: 568px) {
            padding: 0 10px;
        }
    }
    li:nth-child(3) {
        padding-right: 0;
    }
}